.wrapper {
  margin-top: 80px;
  margin-left: 300px;
  @media (max-width: 768px) {
    margin-left: 90px;
  }
  @media (max-width: 560px) {
    margin-left: 0px;
    margin-top: 90px;
  }
}

.content {
  padding: 32px 0px 32px 32px;
  overflow: hidden;
}
