.sidebar {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
  background: rgba(255, 255, 255, 0.05);
  @media (max-width: 768px) {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  @media (max-width: 560px) {
    display: none;
  }
  h3 {
    padding: 0;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  list-style: none;
  color: rgba(28, 28, 30, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.nav__icon {
  width: 32px;
}

.nav__button {
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}

.nav__link, .nav__button, {
  text-decoration: none;
  color: rgba(28, 28, 30, 1);
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
  width: 280px;
  white-space: normal;
  &:hover::after, &.active::after {
    content: '';
    position: absolute;
    right: -3px;
    width: 6px;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    background: rgba(79, 39, 191, 1);
    transition: 0.2s;
  }
  @media (max-width: 768px) {
    width: 90px;
    justify-content: center;
    &:hover::after, &.active::after {
      right: -3px;
      width: 6px;
      border-radius: 5px;
      top: 0;
      bottom: 0;
      background: rgba(79, 39, 191, 1);
      transition: 0.2s;
    }
  }
}

.nav__item {
  padding: 4px 0px;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    display: none;
  }
}

.nav__arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  @media (max-width: 768px) {
    display: none;
  }
}

.nav__arrow-down {
  transform: translateY(-50%) rotate(180deg);
}

.settings {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  overflow: hidden;
  & .nav__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
  }
  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.nav__settings {
  display: flex;
  column-gap: 16px;
}
