.header {
  background: rgba(79, 39, 191, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  @media (max-width: 330px) {
    padding: 16px;
  }
}

.logo {
  display: flex;
  column-gap: 24px;
  align-items: center;
  @media (max-width: 340px) {
    column-gap: 10px;
  }
}

.user {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.user__title {
  @media (max-width: 390px) {
    display: none;
  }
}
